Repository tuan231195/vdtn359-os: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": "npx eslint --fix --max-warnings 0",
    "**/*.{json,html,css}": "prettier --write"
}

feat(binlog-listener): added binlog listener
  packages/binlog-publisher/docker-compose.yml
  packages/binlog-publisher/docker/mysql/init/01.sql
  packages/binlog-publisher/docker/mysql/my.cnf
  packages/binlog-publisher/jest.config.js
  packages/binlog-publisher/package.json
  packages/binlog-publisher/src/binlogListener.ts
  packages/binlog-publisher/src/bootstrap.ts
  packages/binlog-publisher/src/index.ts
  packages/binlog-publisher/src/options.ts
  packages/binlog-publisher/src/positionTracker.ts
  packages/binlog-publisher/src/test.ts
  packages/binlog-publisher/src/types.ts
  packages/binlog-publisher/tsconfig.build.json
  packages/binlog-publisher/tsconfig.json
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

feat(binlog-publisher): implement publishers
  packages/binlog-publisher/docker-compose.yml
  packages/binlog-publisher/docker/localstack/init/kinesis.sh
  packages/binlog-publisher/docker/localstack/init/s3.sh
  packages/binlog-publisher/docker/localstack/init/sns.sh
  packages/binlog-publisher/docker/localstack/init/sqs.sh
  packages/binlog-publisher/package.json
  packages/binlog-publisher/src/binlogListener.ts
  packages/binlog-publisher/src/binlogPublisher.ts
  packages/binlog-publisher/src/bootstrap.ts
  packages/binlog-publisher/src/options.ts
  packages/binlog-publisher/src/positionTracker.ts
  packages/binlog-publisher/src/publishers/interface.ts
  packages/binlog-publisher/src/publishers/kinesis.ts
  packages/binlog-publisher/src/publishers/sns.ts
  packages/binlog-publisher/src/publishers/sqs.ts
  packages/binlog-publisher/src/test.ts
Due: npx eslint --fix --max-warnings 0, prettier --write

feat(publisher): add support for partition key
  packages/binlog-publisher/package-lock.json
  packages/binlog-publisher/src/binlogListener.ts
  packages/binlog-publisher/src/binlogProcessor.ts
  packages/binlog-publisher/src/bootstrap.ts
  packages/binlog-publisher/src/options.ts
  packages/binlog-publisher/src/publishers/default.ts
  packages/binlog-publisher/src/publishers/interface.ts
  packages/binlog-publisher/src/publishers/kinesis.ts
  packages/binlog-publisher/src/publishers/partition.ts
  packages/binlog-publisher/src/publishers/sns.ts
  packages/binlog-publisher/src/publishers/sqs.ts
  packages/binlog-publisher/src/test.ts
Due: npx eslint --fix --max-warnings 0, prettier --write

docs(changeset): add prettier
  .changeset/fluffy-pillows-beam.md
  packages/prettier-config/.prettierrc.json
  packages/prettier-config/package.json
Due: prettier --write

docs(changeset): add react config
  .changeset/moody-bulldogs-cheat.md
  packages/base-eslint/node/index.js
  packages/base-eslint/package.json
  packages/base-eslint/react/index.js
  pnpm-lock.yaml
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/fluffy-pillows-beam.md
  .changeset/moody-bulldogs-cheat.md
  packages/base-eslint/CHANGELOG.md
  packages/base-eslint/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write

docs(changeset): add node16
  .changeset/healthy-owls-clap.md
Due: none

change to node16
  packages/base-typescript/package.json
  packages/base-typescript/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/healthy-owls-clap.md
  packages/base-typescript/CHANGELOG.md
  packages/base-typescript/package.json
Due: prettier --write

docs(changeset): add jest config
  .changeset/itchy-hats-own.md
  packages/base-jest/index.js
  packages/base-jest/package.json
  packages/base-jest/swc.js
Due: prettier --write

add jest config
  packages/base-eslint/node/index.js
  packages/base-jest/index.js
  packages/base-jest/package.json
  packages/base-jest/swc.js
  pnpm-lock.yaml
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/itchy-hats-own.md
  packages/base-eslint/CHANGELOG.md
  packages/base-eslint/package.json
  packages/base-jest/CHANGELOG.md
  packages/base-jest/package.json
Due: prettier --write

docs(changeset): fix transform
  .changeset/afraid-moles-live.md
Due: none

fix transform
  packages/base-jest/swc.js
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/afraid-moles-live.md
  packages/base-jest/CHANGELOG.md
  packages/base-jest/package.json
Due: prettier --write

feat(workspace-info): added workspace-info
  .changeset/pretty-tools-stare.md
  package.json
  packages/tsconfig.json
  packages/workspace-info/README.md
  packages/workspace-info/package.json
  packages/workspace-info/src/bin.ts
  packages/workspace-info/src/index.ts
  packages/workspace-info/src/map-workspaces.ts
  packages/workspace-info/src/support.ts
  packages/workspace-info/tsconfig.build.json
  packages/workspace-info/tsconfig.json
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/pretty-tools-stare.md
  packages/workspace-info/CHANGELOG.md
  packages/workspace-info/package.json
Due: prettier --write

docs(changeset): add workspace dependents
  .changeset/friendly-chefs-kneel.md
  packages/release-it-deps-plugin/package.json
  packages/release-it-deps-plugin/src/index.ts
  packages/release-it-deps-plugin/tsconfig.build.json
  packages/release-it-deps-plugin/tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write

docs(changeset): add release-it-deps
  .changeset/rude-horses-fail.md
Due: none

add release-it-deps
  packages/tsconfig.json
  packages/workspace-info/src/index.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/friendly-chefs-kneel.md
  .changeset/rude-horses-fail.md
  packages/release-it-deps-plugin/CHANGELOG.md
  packages/release-it-deps-plugin/package.json
  packages/workspace-info/CHANGELOG.md
  packages/workspace-info/package.json
Due: prettier --write

docs(changeset): fix plugin files
  .changeset/four-swans-decide.md
Due: none

fix plugin files
  packages/release-it-deps-plugin/package.json
  packages/release-it-deps-plugin/src/index.ts
  packages/release-it-deps-plugin/tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/four-swans-decide.md
  packages/release-it-deps-plugin/CHANGELOG.md
  packages/release-it-deps-plugin/package.json
Due: prettier --write

docs(changeset): add hash support
  .changeset/cool-worms-tease.md
Due: none

fix(release-it-deps-plugin): add hash support
  packages/release-it-deps-plugin/src/index.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/cool-worms-tease.md
  packages/release-it-deps-plugin/CHANGELOG.md
  packages/release-it-deps-plugin/package.json
Due: prettier --write

fix(release-it-deps-plugin): fix dry run
  packages/release-it-deps-plugin/src/index.ts
Due: npx eslint --fix --max-warnings 0

docs(changeset): fix dry run
  .changeset/fair-points-burn.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/fair-points-burn.md
  packages/release-it-deps-plugin/CHANGELOG.md
  packages/release-it-deps-plugin/package.json
Due: prettier --write

docs(changeset): opt out version file
  .changeset/modern-rules-fold.md
Due: none

fix(release-deps): add version file
  packages/release-it-deps-plugin/src/index.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/modern-rules-fold.md
  packages/release-it-deps-plugin/CHANGELOG.md
  packages/release-it-deps-plugin/package.json
Due: prettier --write

docs(changeset): circle ci pipeline builder
  .changeset/heavy-flowers-give.md
  packages/circleci-pipeline-builder/package.json
  packages/circleci-pipeline-builder/src/index.ts
  packages/circleci-pipeline-builder/tsconfig.build.json
  packages/circleci-pipeline-builder/tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write

feat(circleci-pipeline-builder): initial commit
  packages/circleci-pipeline-builder/package.json
  packages/circleci-pipeline-builder/src/index.ts
  packages/tsconfig.json
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/heavy-flowers-give.md
  packages/circleci-pipeline-builder/CHANGELOG.md
  packages/circleci-pipeline-builder/package.json
Due: prettier --write

docs(changeset): add prop to pipeline
  .changeset/shiny-snakes-pull.md
Due: none

fix(circleci-pipeline-builder): fix pipeline
  packages/circleci-pipeline-builder/src/index.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/shiny-snakes-pull.md
  packages/circleci-pipeline-builder/CHANGELOG.md
  packages/circleci-pipeline-builder/package.json
Due: prettier --write

fix(nestjs-bootstrap): naming convention
  packages/nestjs-bootstrap/examples/__tests__/hello.controller.spec.ts
  packages/nestjs-bootstrap/examples/app.module.ts
  packages/nestjs-bootstrap/examples/complex/complex.controller.ts
  packages/nestjs-bootstrap/examples/complex/complex.domain.ts
  packages/nestjs-bootstrap/examples/hello.domain.ts
  packages/nestjs-bootstrap/examples/simple/simple.controller.ts
  packages/nestjs-bootstrap/examples/simple/simple.domain.ts
  packages/nestjs-bootstrap/package.json
  packages/nestjs-bootstrap/src/app.ts
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/api.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/index.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/transform.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/typeBuilder.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/validator.ts
  packages/nestjs-bootstrap/src/modules/core/domain/error-codes.ts
  packages/nestjs-bootstrap/src/modules/core/domain/errorCodes.ts
  packages/nestjs-bootstrap/src/modules/core/domain/index.ts
  packages/nestjs-bootstrap/src/modules/core/filters/exception.ts
  packages/nestjs-bootstrap/src/modules/core/filters/index.ts
  packages/nestjs-bootstrap/src/modules/core/filters/validation.ts
  packages/nestjs-bootstrap/src/modules/core/interface/bootstrap.ts
  packages/nestjs-bootstrap/src/modules/core/services/axios.ts
  packages/nestjs-bootstrap/src/modules/core/services/config/create-config.ts
  packages/nestjs-bootstrap/src/modules/core/services/config/index.ts
  packages/nestjs-bootstrap/src/modules/core/services/index.ts
  packages/nestjs-bootstrap/src/modules/core/services/logger.ts
  packages/nestjs-bootstrap/src/modules/core/services/request-logger.ts
  packages/nestjs-bootstrap/src/modules/health/controllers/health.ts
  packages/nestjs-bootstrap/src/modules/health/controllers/index.ts
  packages/nestjs-bootstrap/src/modules/health/health.module.ts
  packages/nestjs-bootstrap/src/modules/health/services/health-check.ts
  packages/nestjs-bootstrap/src/modules/health/services/index.ts
  packages/nestjs-bootstrap/src/utils/index.ts
  packages/nestjs-bootstrap/src/utils/serialize.ts
  packages/nestjs-bootstrap/src/utils/types.ts
  pnpm-lock.yaml
  tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write
