Repository tuan231195/vdtn359-os: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

docs(changeset): fix config
  .changeset/slow-grapes-melt.md
  packages/nestjs-bootstrap/src/modules/core/services/config/create-config.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/slow-grapes-melt.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fixed async context
  .changeset/mighty-pumpkins-approve.md
  packages/nestjs-bootstrap/package.json
  packages/nestjs-bootstrap/src/app.ts
  packages/nestjs-bootstrap/src/index.ts
  packages/nestjs-bootstrap/src/modules/core/decorators/common.ts
  packages/nestjs-bootstrap/src/modules/core/services/index.ts
  packages/nestjs-bootstrap/src/modules/core/services/logger.ts
  packages/nestjs-bootstrap/src/modules/core/services/request-logger.ts
  packages/nestjs-bootstrap/src/modules/core/services/root-logger.ts
  packages/nestjs-bootstrap/src/modules/core/tokens.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/mighty-pumpkins-approve.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/sweet-carrots-trade.md
  packages/nestjs-api-bootstrap/CHANGELOG.md
  packages/nestjs-api-bootstrap/package.json
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fix
  .changeset/strange-flies-listen.md
  packages/nestjs-bootstrap/src/app.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/strange-flies-listen.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): add runInContext
  .changeset/tender-books-hang.md
  packages/nestjs-bootstrap/package.json
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/modules/core/services/index.ts
  packages/nestjs-bootstrap/src/modules/core/services/request-logger.ts
  packages/nestjs-bootstrap/src/utils/context.ts
  packages/nestjs-bootstrap/src/utils/index.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/tender-books-hang.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fixed missing request logger
  .changeset/lovely-gifts-live.md
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/utils/context.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/lovely-gifts-live.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fixed logger
  .changeset/unlucky-poems-flow.md
  packages/nestjs-api-bootstrap/package.json
  packages/nestjs-api-bootstrap/src/modules/core/filters/exception.ts
  packages/nestjs-api-bootstrap/src/modules/core/services/default-logger-service.ts
  packages/nestjs-api-bootstrap/src/modules/core/services/request-logger.ts
  packages/nestjs-api-bootstrap/src/modules/core/services/root-logger.ts
  packages/nestjs-bootstrap/package.json
  packages/nestjs-bootstrap/src/modules/core/services/default-logger-service.ts
  packages/nestjs-bootstrap/src/modules/core/services/index.ts
  packages/nestjs-bootstrap/src/modules/core/services/request-logger.ts
  packages/nestjs-bootstrap/src/modules/core/services/root-logger.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/unlucky-poems-flow.md
  packages/nestjs-api-bootstrap/CHANGELOG.md
  packages/nestjs-api-bootstrap/package.json
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fix pino pretty
  .changeset/afraid-cycles-heal.md
  packages/nestjs-api-bootstrap/src/modules/core/services/root-logger.ts
  packages/nestjs-bootstrap/src/modules/core/services/root-logger.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/afraid-cycles-heal.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): export async context
  .changeset/late-buttons-talk.md
  packages/nestjs-api-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/index.ts
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 2 package(s)
  .changeset/late-buttons-talk.md
  packages/nestjs-api-bootstrap/CHANGELOG.md
  packages/nestjs-api-bootstrap/package.json
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

fix missing context
  .changeset/four-boats-wave.md
  .changeset/gold-spiders-tickle.md
  packages/nestjs-api-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 2 package(s)
  .changeset/four-boats-wave.md
  .changeset/gold-spiders-tickle.md
  packages/nestjs-api-bootstrap/CHANGELOG.md
  packages/nestjs-api-bootstrap/package.json
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

Path conditions:
  npx eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: any of: **/*.{json,html,css}
