Repository tuan231195/vdtn359-os: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": "npx eslint --fix --max-warnings 0",
    "**/*.{json,html,css}": "prettier --write"
}

docs(changeset): fix typescript compilation
  .changeset/grumpy-sheep-breathe.md
Due: none

fixed typescript
  packages/rush-deploy-utils/src/index.ts
Due: npx eslint --fix --max-warnings 0

docs(changeset): add setupApp and createApp
  .changeset/famous-jobs-divide.md
Due: none

add setupApp and createApp
  packages/nestjs-bootstrap/examples/main.ts
  packages/nestjs-bootstrap/src/app.ts
  packages/nestjs-bootstrap/src/index.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/famous-jobs-divide.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): disable default validation
  .changeset/honest-dryers-end.md
  packages/nestjs-bootstrap/src/modules/core/decorators/api.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/honest-dryers-end.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fix typings
  .changeset/khaki-shoes-flash.md
  packages/nestjs-bootstrap/package.json
  packages/nestjs-bootstrap/src/modules/core/decorators/api.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/khaki-shoes-flash.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): support each
  .changeset/great-walls-reflect.md
  packages/nestjs-bootstrap/src/modules/core/decorators/api.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/great-walls-reflect.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fix disable validation
  .changeset/cyan-ties-tickle.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/cyan-ties-tickle.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): improve validation
  .changeset/famous-socks-change.md
  packages/nestjs-bootstrap/src/modules/core/decorators/api.ts
  packages/nestjs-bootstrap/src/modules/core/filters/validation.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/famous-socks-change.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): allow dynamic config
  .changeset/cyan-rings-live.md
  packages/nestjs-bootstrap/src/modules/core/core.module.ts
  packages/nestjs-bootstrap/src/modules/core/interface/bootstrap.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/cyan-rings-live.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): update nestjs
  .changeset/young-rats-invite.md
  packages/nestjs-bootstrap/package.json
  pnpm-lock.yaml
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/cyan-rings-live.md
  .changeset/young-rats-invite.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): update nestjs
  .changeset/eleven-terms-notice.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/eleven-terms-notice.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): allow ability to exclude swagger
  .changeset/chatty-llamas-switch.md
  packages/nestjs-bootstrap/src/app.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/chatty-llamas-switch.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): implement idempotency key
  .aws-local/idempotency.json
  .aws-local/localstack-setup.sh
  .changeset/sweet-planets-stare.md
  .gitignore
  docker-compose.yml
  packages/idempotency/jest.config.js
  packages/idempotency/package.json
  packages/idempotency/src/__tests__/index.spec.ts
  packages/idempotency/src/errors/index.ts
  packages/idempotency/src/handler.ts
  packages/idempotency/src/index.ts
  packages/idempotency/src/persistence/base.ts
  packages/idempotency/src/persistence/dynamodb.ts
  packages/idempotency/src/persistence/index.ts
  packages/idempotency/tsconfig.build.json
  packages/idempotency/tsconfig.json
  packages/nestjs-bootstrap/src/modules/core/domain/error-codes.ts
  pnpm-lock.yaml
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/sweet-planets-stare.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): allow empty idempotency key
  .changeset/few-cows-call.md
  packages/idempotency/src/handler.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/few-cows-call.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
Due: prettier --write

docs(changeset): fix build
  .changeset/hot-rings-sing.md
  packages/idempotency/src/handler.ts
  packages/tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/hot-rings-sing.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
Due: prettier --write

docs(changeset): fix naming
  .changeset/angry-ways-remember.md
  packages/idempotency/src/handler.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/angry-ways-remember.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
Due: prettier --write

docs(changeset): fixed logger interface
  .changeset/green-otters-remain.md
  packages/idempotency/src/handler.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/green-otters-remain.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
Due: prettier --write

docs(changeset): fixed logger
  .changeset/mean-moons-agree.md
  packages/idempotency/src/handler.ts
  packages/idempotency/src/persistence/dynamodb.ts
  packages/idempotency/src/types/index.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/mean-moons-agree.md
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
Due: prettier --write

docs(changeset): support defaults config
  .changeset/kind-horses-brush.md
  packages/nestjs-bootstrap/src/modules/core/services/config/create-config.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/kind-horses-brush.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

docs(changeset): fixed config
  .changeset/olive-tools-hammer.md
  packages/nestjs-bootstrap/src/modules/core/services/config/create-config.ts
Due: npx eslint --fix --max-warnings 0

RELEASING: Releasing 1 package(s)
  .changeset/olive-tools-hammer.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write
