Repository tuan231195/vdtn359-os: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

fix(readme): add package url
  .circleci/config.yml
  package-lock.json
  package.json
  packages/aws-tools/package.json
  packages/aws-tools/tsconfig.build.json
  packages/aws-tools/tsconfig.json
  packages/babel-plugin-add-class-properties/package.json
  packages/cache-exec/src/cli/clear.ts
  packages/cache-exec/src/cli/exec.ts
  packages/data-structure/package.json
  packages/data-structure/src/index.ts
  packages/data-structure/src/types/index.ts
  packages/package-manager-utils/package.json
  packages/rush-deploy-utils/package.json
  packages/rush-deploy-utils/src/index.ts
  packages/rush-watcher/package.json
  packages/semantic-release-monorepo/package.json
  packages/semantic-release-monorepo/src/get-dependencies.ts
  packages/semantic-release-monorepo/src/only-package-commits.ts
  packages/semantic-release-monorepo/src/options-transforms.ts
  packages/transformer/package.json
  packages/transformer/src/utils/mapper.ts
  packages/transformer/src/utils/transform.ts
  packages/tsc-add-class-properties/package.json
  packages/tsconfig.json
  packages/url/package.json
  packages/utils/package.json
  packages/utils/src/array/find.ts
  packages/utils/src/fp/combine.ts
Due: npx eslint --fix --max-warnings 0, prettier --write

feat(aws-tools): add aws tools
  .circleci/config.yml
  .eslintrc.js
  jest.config.base.js
  package-lock.json
  package.json
  packages/aws-tools/jest.config.js
  packages/aws-tools/package-lock.json
  packages/aws-tools/package.json
  packages/aws-tools/src/cli.ts
  packages/aws-tools/src/cli/cloudwatch.ts
  packages/aws-tools/src/cli/lambda.ts
  packages/aws-tools/src/cli/s3.ts
  packages/aws-tools/src/cli/ssm.ts
  packages/aws-tools/src/index.ts
  packages/aws-tools/src/lib/__tests__/process.spec.ts
  packages/aws-tools/src/lib/cloudwatch.ts
  packages/aws-tools/src/lib/index.ts
  packages/aws-tools/src/lib/lambda.ts
  packages/aws-tools/src/lib/process.ts
  packages/aws-tools/src/lib/requirements.ts
  packages/aws-tools/src/lib/s3.ts
  packages/aws-tools/src/lib/ssm.ts
  packages/babel-plugin-add-class-properties/src/__tests__/__snapshots__/index.spec.ts.snap
Due: npx eslint --fix --max-warnings 0, prettier --write

chore(release): 1.0.0 [skip ci]
  packages/aws-tools/CHANGELOG.md
  packages/aws-tools/package-lock.json
  packages/aws-tools/package.json
Due: prettier --write

Notes added by 'git notes add'
  526b46b50d5cea1205993451042dc2271cd5cd43
Due: none

Notes added by 'git notes add'
  e6093e4d1394aae43b91fb7a86f4e5160d50980a
Due: none

chore(release): 1.1.0 [skip ci]
  packages/babel-plugin-add-class-properties/CHANGELOG.md
  packages/babel-plugin-add-class-properties/package.json
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  packages/cache-exec/CHANGELOG.md
  packages/cache-exec/package.json
Due: prettier --write

Notes added by 'git notes add'
  875a4466729bcf18a1b0642ac003e4f092c06bfc
Due: none

chore(release): 1.0.1 [skip ci]
  packages/data-structure/CHANGELOG.md
  packages/data-structure/package.json
Due: prettier --write

Notes added by 'git notes add'
  4b1afb2a6d937dcc57b0a0acd7bad745b49b9958
Due: none

chore(release): 1.0.5 [skip ci]
  packages/package-manager-utils/CHANGELOG.md
  packages/package-manager-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  ebfb17435af72c6c35891ea0d419cef6d0eaf3bb
Due: none

Notes added by 'git notes add'
  b51a8c31832614178786874abf9010662ed78450
Due: none

chore(release): 1.0.6 [skip ci]
  packages/rush-deploy-utils/CHANGELOG.md
  packages/rush-deploy-utils/package-lock.json
  packages/rush-deploy-utils/package.json
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  packages/rush-watcher/CHANGELOG.md
  packages/rush-watcher/package.json
Due: prettier --write

Notes added by 'git notes add'
  ff8312396d6956dcf524825c0ead858691097989
Due: none

chore(release): 1.0.4 [skip ci]
  packages/transformer/CHANGELOG.md
  packages/transformer/package.json
Due: prettier --write

Notes added by 'git notes add'
  2b19b7fb19f2f1d4ccc5e57caee5f34d2326e914
Due: none

chore(release): 1.0.2 [skip ci]
  packages/tsc-add-class-properties/CHANGELOG.md
  packages/tsc-add-class-properties/package.json
Due: prettier --write

Notes added by 'git notes add'
  afefd3e8b62e177e53732903ad63c48e7d5477da
Due: none

chore(release): 1.0.2 [skip ci]
  packages/url/CHANGELOG.md
  packages/url/package.json
Due: prettier --write

Notes added by 'git notes add'
  a39a3f54eb6cfb961bba5fa1d43f5ea6d4be6f57
Due: none

chore(release): 1.1.1 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  954a62750ef8f6048bfd1922bba4ebc33d6d87dc
Due: none

chore(release): 1.0.6 [skip ci]
  packages/semantic-release-monorepo/CHANGELOG.md
  packages/semantic-release-monorepo/package.json
Due: prettier --write

Notes added by 'git notes add'
  066cb281e0c57079b7e7ff70a1678bb27ce00a48
Due: none

fix(aws-tool): fix dependencies
  package-lock.json
  packages/aws-tools/package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  packages/aws-tools/CHANGELOG.md
  packages/aws-tools/package-lock.json
  packages/aws-tools/package.json
Due: prettier --write

Notes added by 'git notes add'
  7c2794c74577e59f3b295cb609cc8512b4fce20d
Due: none

feat(aws-tools): add grep
  packages/aws-tools/src/cli/cloudwatch.ts
  packages/aws-tools/src/lib/cloudwatch.ts
Due: npx eslint --fix --max-warnings 0

chore(release): 1.1.0 [skip ci]
  packages/aws-tools/CHANGELOG.md
  packages/aws-tools/package-lock.json
  packages/aws-tools/package.json
Due: prettier --write

Notes added by 'git notes add'
  78558159bed900c7a4f2338a0adcd097da3476f4
Due: none

chore(packages): switch to pnpm [skip ci]
  .changeset/README.md
  .changeset/config.json
  .circleci/config.yml
  .npmrc
  lerna.json
  package-lock.json
  package.json
  packages/base-typescript/package.json
  packages/base-typescript/tsconfig.json
  packages/base-typescript/tsconfig.transform.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

ci(build): fix ci
  .circleci/config.yml
  .releaserc
  package.json
  packages/base-typescript/tsconfig.json
  packages/base-typescript/tsconfig.transform.json
  packages/package-manager-utils/package.json
  packages/package-manager-utils/src/engines/pnpm.ts
  packages/semantic-release-monorepo/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npx eslint --fix --max-warnings 0, prettier --write

chore(eslint): add base eslint config
  .eslintrc.js
  package.json
  packages/aws-tools/src/cli.ts
  packages/aws-tools/src/cli/cloudwatch.ts
  packages/aws-tools/src/cli/lambda.ts
  packages/aws-tools/src/cli/s3.ts
  packages/aws-tools/src/cli/ssm.ts
  packages/aws-tools/src/lib/process.ts
  packages/aws-tools/src/lib/s3.ts
  packages/babel-plugin-add-class-properties/package.json
  packages/babel-plugin-add-class-properties/src/__tests__/index.spec.ts
  packages/base-eslint/index.js
  packages/base-eslint/package.json
  packages/cache-exec/src/cli/clear.ts
  packages/cache-exec/src/cli/exec.ts
  packages/cache-exec/src/lib/exec.ts
  packages/data-structure/src/types/lookup-array.ts
  packages/package-manager-utils/src/engines/base.ts
  packages/package-manager-utils/src/engines/pnpm.ts
  packages/package-manager-utils/src/lib/undo.ts
  packages/rush-deploy-utils/package.json
  packages/rush-watcher/src/index.ts
  packages/semantic-release-monorepo/src/get-dependencies.ts
  packages/semantic-release-monorepo/src/index.ts
  packages/semantic-release-monorepo/src/options-transforms.ts
  packages/transformer/src/decorators/exclude.ts
  packages/transformer/src/decorators/expose.ts
  packages/transformer/src/utils/__tests__/mapper.spec.ts
  packages/transformer/src/utils/__tests__/models/book.ts
  packages/transformer/src/utils/__tests__/transform.spec.ts
  packages/transformer/src/utils/mapper.ts
  packages/tsc-add-class-properties/src/index.ts
  packages/url/src/index.ts
  packages/utils/src/date/validation.ts
  packages/utils/src/functions/args.ts
  packages/utils/src/functions/utils.ts
  pnpm-lock.yaml
  tsconfig.lint.json
Due: npx eslint --fix --max-warnings 0, prettier --write

chore(packages): add changelog
  .changeset/config.json
  .changeset/tall-stingrays-repeat.md
  .circleci/config.yml
  package.json
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/tall-stingrays-repeat.md
  packages/base-eslint/CHANGELOG.md
  packages/base-eslint/package.json
  packages/base-typescript/CHANGELOG.md
  packages/base-typescript/package.json
Due: prettier --write

docs(changeset): implement nestjs bootstrap
  .changeset/beige-news-promise.md
  jest.config.base.js
  packages/nestjs-bootstrap/jest.config.js
  packages/nestjs-bootstrap/package.json
  pnpm-lock.yaml
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/beige-news-promise.md
  packages/nestjs-bootstrap/CHANGELOG.md
  packages/nestjs-bootstrap/package.json
Due: prettier --write

Path conditions:
  npx eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: any of: **/*.{json,html,css}
